<form asp-action="Search" method="GET">
    <input type="text" id="q" name="q" action="submit" placeholder="Find..." autocomplete="off" 
    value="@(ViewBag.LayoutModel != null ? ViewBag.LayoutModel.ResearchText : string.Empty)" />
</form>