@{
    ViewData["Title"] = "Stack overblow - where developers pet the cats";
}

<div class="text-center">
    This is home page
    <br />
    <a href="https://localhost:7296/search?q=nice&page=1&orderBy=Newest">search</a>
    <br />
    <a href="https://localhost:7296/users/index/1">user 1</a>
</div>
