html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.inline, div.tags, div.question-stats {
    display: inline-block;
}

div.order-by {
    float: right;
}

div.user-info {
    float: right;
}

div.question-stats {
    width: 120px;
}

div.question-content {
    font-size: 14px;
}

div.picture, img.profile-avatar {
    width: 150px;
    height: 150px;
}

div.profile-main-info {
    margin-left: 30px;
    height: 150px;
}

span.user-mini-score {
    font-weight: bold;
}

hr.bold {
    height: 4px;
}

hr.narrow {
    height: 2px;
}

b.question-title {
    font-size: 20px;
}

a.user-mini-nickname {
    text-decoration: none;
}